Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:

Scrape the details team India’s international fixtures from bcci.tv.

In [10]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

In [11]:
# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [12]:
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [13]:
rank = driver.find_elements_by_xpath("//td[@align='center'][1]")
for i in rank[0:30]:
    Rank.append(i.text)

In [14]:
name = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//td[2]")
for i in name[0:30]:
    Name.append(i.text)

In [15]:
artist = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//td[3]")
for i in artist[0:30]:
    Artist.append(i.text)

In [16]:
date = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//td[5]")
for i in date[0:30]:
    Upload_date.append(i.text)

In [17]:
views = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//td[4]")
for i in views[0:30]:
    Views.append(i.text)

In [18]:
d1 = pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Upload_date':Upload_date,'Views':Views})
d1

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.81
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.40
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.47
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.35
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.14
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.44
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.20
7,8.,"""Bath Song""[32]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.16
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[33]",Miroshka TV,"February 27, 2018",4.16
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.09
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.93
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.49
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.44
13,14.,"""Dame Tu Cosita""[39]",El Chombo,"April 5, 2018",3.39
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.37
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.32
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.27
17,18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.09
18,19.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.08
19,20.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.08
20,21.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.07
21,22.,"""Lean On""[47]",Major Lazer,"March 22, 2015",3.05
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.05
23,24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.05
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.01
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.93
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.87
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,"June 4, 2010",2.85
28,29.,"""Hello""[54]",Adele,"October 22, 2015",2.85
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.84

In [19]:
driver.close()

Question 2

In [20]:
# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("https://www.bcci.tv/")

In [21]:
all_fixtures=driver.find_element_by_xpath("//ul[@class='scroll-grid-phab block-list-4 block-list-3-wide block-list-3-desk block-list-2-tab block-list-1-phab js-slide slider__list match-slider']/li[22]/a")
url = all_fixtures.get_attribute('href')
url

'https://www.bcci.tv/international/fixtures'

In [97]:
driver.get(url)

In [98]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [24]:
mt = driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in mt:
    Match_title.append(i.text)
len(Match_title)

0

In [25]:
series= driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in series:
    Series.append(i.text)
len(Series)

0

In [26]:
place = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place:
    Place.append(i.text)
len(Place)

0

In [27]:
date = driver.find_elements_by_xpath("//span[@class='fixture__date']")
month= driver.find_elements_by_xpath("//span[@class='fixture__month']")
for i in range(0,14):
    Date.append(date[i].text+' '+month[i].text)
len(Date)

IndexError: list index out of range

In [28]:
time = driver.find_elements_by_xpath("//span[@class='fixture__time']")
for i in time:
    Time.append(i.text)
len(Time)

12

In [29]:
d2 = pd.DataFrame({'Match_title':Match_title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
d2

ValueError: arrays must all be same length

In [30]:
driver.close()

Question 3

In [41]:
# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("https://www.guru99.com/")

In [42]:
selenium = driver.find_element_by_xpath("//ul[@class='menu']/li[3]/a")
selenium_url = selenium.get_attribute('href')
selenium_url

'https://www.guru99.com/selenium-tutorial.html'

In [43]:
driver.get(selenium_url)

In [44]:
exceptions = driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
url = exceptions.get_attribute('href')
url

'https://www.guru99.com/exception-handling-selenium.html'

In [45]:
driver.get(url)

In [46]:
Name=[]
Description=[]

In [47]:
for i in range(2,43):
    name= driver.find_element_by_xpath(f"//table[@class='table table-striped']/tbody/tr[{i}]/td[1]")
    description = driver.find_element_by_xpath(f"//table[@class='table table-striped']/tbody/tr[{i}]/td[2]")
    Name.append(name.text)
    Description.append(description.text)

In [48]:
Name

['ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [49]:
Description

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.",
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 "It occurs when command can't be finished when the element is invalid.",
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 "This occurs when remote WebDriver does n't send valid commands as expected."]

In [50]:
d3 = pd.DataFrame({'Name':Name,'Description':Description})
d3

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [51]:
driver.close()

Question 4

In [52]:

# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("http://statisticstimes.com/")

In [53]:
india = driver.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[3]")
india_url = india.get_attribute('href')
india_url

'http://statisticstimes.com/economy/india-statistics.php'

In [54]:
driver.get(india_url)

In [55]:
gdp_list = driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']/ul/li")
gdp_list.click()

In [56]:
Rank=[]
State=[]
GSDP1=[]
GSDP2=[]
Share=[]
GDP=[]

In [57]:
for i in range(1,34):
    Rank.append(driver.find_element_by_xpath(f"//tbody/tr[@role='row'][{i}]/td[1]").text)
    State.append(driver.find_element_by_xpath(f"//tbody/tr[@role='row'][{i}]/td[2]").text)
    GSDP1.append(driver.find_element_by_xpath(f"//tbody/tr[@role='row'][{i}]/td[3]").text)
    GSDP2.append(driver.find_element_by_xpath(f"//tbody/tr[@role='row'][{i}]/td[4]").text)
    Share.append(driver.find_element_by_xpath(f"//tbody/tr[@role='row'][{i}]/td[5]").text)
    GDP.append(driver.find_element_by_xpath(f"//tbody/tr[@role='row'][{i}]/td[6]").text)

In [58]:
d4=pd.DataFrame({'Rank':Rank,'State':State,'GSDP(19-20)':GSDP1,'GSDP(18-19)':GSDP2,'Share':Share,'GDP':GDP})
d4

   Rank                      State GSDP(19-20) GSDP(18-19)   Share      GDP
0     1                Maharashtra           -   2,632,792  13.94%  399.921
1     2                 Tamil Nadu   1,845,853   1,630,208   8.63%  247.629
2     3              Uttar Pradesh   1,687,818   1,584,764   8.39%  240.726
3     4                    Gujarat           -   1,502,899   7.96%  228.290
4     5                  Karnataka   1,631,977   1,493,127   7.91%  226.806
5     6                West Bengal   1,253,832   1,089,898   5.77%  165.556
6     7                  Rajasthan   1,020,989     942,586   4.99%  143.179
7     8             Andhra Pradesh     972,782     862,957   4.57%  131.083
8     9                  Telangana     969,604     861,031   4.56%  130.791
9    10             Madhya Pradesh     906,672     809,592   4.29%  122.977
10   11                     Kerala           -     781,653   4.14%  118.733
11   12                      Delhi     856,112     774,870   4.10%  117.703
12   13                    Haryana     831,610     734,163   3.89%  111.519
13   14                      Bihar     611,804     530,363   2.81%   80.562
14   15                     Punjab     574,760     526,376   2.79%   79.957
15   16                     Odisha     521,275     487,805   2.58%   74.098
16   17                      Assam           -     315,881   1.67%   47.982
17   18               Chhattisgarh     329,180     304,063   1.61%   46.187
18   19                  Jharkhand     328,598     297,204   1.57%   45.145
19   20                Uttarakhand           -     245,895   1.30%   37.351
20   21            Jammu & Kashmir           -     155,956   0.83%   23.690
21   22           Himachal Pradesh     165,472     153,845   0.81%   23.369
22   23                        Goa      80,449      73,170   0.39%   11.115
23   24                    Tripura      55,984      49,845   0.26%    7.571
24   25                 Chandigarh           -      42,114   0.22%    6.397
25   26                 Puducherry      38,253      34,433   0.18%    5.230
26   27                  Meghalaya      36,572      33,481   0.18%    5.086
27   28                     Sikkim      32,496      28,723   0.15%    4.363
28   29                    Manipur      31,790      27,870   0.15%    4.233
29   30                   Nagaland           -      27,283   0.14%    4.144
30   31          Arunachal Pradesh           -      24,603   0.13%    3.737
31   32                    Mizoram      26,503      22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands           -           -       -        -

In [59]:

driver.close()

Q5

In [125]:
# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("https://github.com/")

In [126]:
details = driver.find_elements_by_xpath("//details[@class='HeaderMenu-details details-overlay details-reset width-full']")
details

[<selenium.webdriver.remote.webelement.WebElement (session="081b51f5b8304105811d467eb43b7783", element="afe494be-f09e-466e-9520-cfcbac7b2d41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="081b51f5b8304105811d467eb43b7783", element="48b90295-278e-4d2e-a76d-16b7bfc66af6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="081b51f5b8304105811d467eb43b7783", element="186260d1-eb0f-42da-9cde-08be7eb820ea")>]

In [127]:
details[1].click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=91.0.4472.106)

In [ ]:
trending = driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
trending

In [ ]:
trending.click()

In [67]:
Title=[]
Description=[]
Cont_count=[]
l_used=[]

In [68]:
rep = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
url = []
for i in rep:
    url.append(i.get_attribute('href'))
len(url)

0

In [69]:
for i in url:
    driver.get(i)
    
    title = driver.find_element_by_xpath("//strong[@class='mr-2 flex-self-stretch']/a")
    Title.append(title.text)
    
    try:
        Description.append(driver.find_element_by_xpath("//div[@class='Box-body px-5 pb-5']").text)
    except NoSuchElementException:
        Description.append('-')
        
    try:
        Cont_count.append(driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[4]/div/h2/a/span").get_attribute('title'))
    except NoSuchElementException:
        Cont_count.append('-')
        
    lang_i=[]
    lang = driver.find_elements_by_xpath("//span[@class='color-text-primary text-bold mr-1']")
    for j in lang:
        lang_i.append(j.text)
    l_used.append(lang_i)

In [70]:
d5 = pd.DataFrame({'Title':Title,'Description':Description,'Contributors_count':Cont_count,'Languages_used':l_used})
d5

Empty DataFrame
Columns: [Title, Description, Contributors_count, Languages_used]
Index: []

In [71]:
driver.close()

In [ ]:
Question 6

In [72]:
# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("https://www.billboard.com/")

In [73]:
hot_100 = driver.find_elements_by_xpath("//li[@class='header__subnav__item']/a")
url=[]
for i in hot_100:
    url.append(i.get_attribute('href'))

In [74]:
url

['https://www.billboardwomeninmusic.com/',
 'https://www.billboardevents.com/',
 'https://www.billboard.com/charts/hot-100',
 'https://www.billboard.com/charts/billboard-200',
 'https://www.billboard.com/charts/billboard-global-200',
 'https://www.billboard.com/chart-beat',
 'https://www.billboard.com/hondastage']

In [75]:
driver.get(url[2])

In [76]:
S_name=[]
A_name=[]
L_w_r=[]
P_r=[]
W_o_b=[]

In [77]:
s = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in s:
    S_name.append(i.text)
len(S_name)

100

In [78]:
a = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in a:
    A_name.append(i.text)
len(A_name)

100

In [79]:
lwr = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in lwr:
    L_w_r.append(i.text)
len(L_w_r)

100

In [80]:
pr = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in pr:
    P_r.append(i.text)
len(P_r)

100

In [81]:
wob = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in wob:
    W_o_b.append(i.text)
len(W_o_b)

100

In [82]:
d6 = pd.DataFrame({'Song name':S_name,'Artist name':A_name,'Last week rank':L_w_r,'Peak rank':P_r,'Weeks on board':W_o_b})
d6

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

In [83]:
driver.close()

Question 7

In [85]:
# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("https://www.naukri.com/")

In [86]:
rec = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
url = rec.get_attribute('href')
url

'https://www.naukri.com/recruiters'

In [87]:
driver.get(url)

In [88]:
inp = driver.find_element_by_xpath("//input[@class='sugInp']")
inp.send_keys('Data science')

In [89]:
search = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search.click()

In [90]:
Name=[]
Designation=[]
Company=[]
Skills = []
Location=[]

In [91]:
name = driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in name:
    Name.append(i.text)
len(Name)

50

In [92]:
des = driver.find_elements_by_xpath("//span[@class='ellipsis clr'][1]")
for i in des:
    Designation.append(i.text)
len(Designation)

50

In [93]:

company = driver.find_elements_by_xpath("//a[@class='ellipsis'][2]")
for i in company:
    Company.append(i.text)
len(Company)

50

In [94]:
parent = driver.find_elements_by_xpath("//div[@class='vcard']")
for i in parent:
    try:
        loc = i.find_element_by_xpath(".//small[@class='ellipsis']")
        Location.append(loc.text)
    except NoSuchElementException:
        Location.append('-')
len(Location)

50

In [95]:
skills = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skills:
    Skills.append(i.text)
len(Skills)

50

In [96]:
d7 = pd.DataFrame({'Name':Name,'Designation':Designation,'Company name':Company,'Location':Location,'Skills hired for':Skills})
d7

,Name,Designation,Company name,Location,Skills hired for
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
10,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
11,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
15,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
16,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
20,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
23,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
25,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,-,"Signal Processing, Machine Learning, Neural Ne..."
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Delhi,"Web Technologies, Project Management, Software..."
28,Priya Khare,Senior Manager,Independent Consultant,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti..."
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
31,Radha Manivasagam,HR Executive,Techcovery,Bengaluru / Bangalore,"Python, Artificial Intelligence, Machine Learn..."
32,Prateek Kumar,Head,Trisect,Noida,"Java, Python, Angularjs, Software Testing, Mac..."
33,Amit Sharma,Consultant,ASCO consulting,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
34,Kanan,senior technology instructor,NY INST,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
35,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Aligarh,"Relationship Management, Retail Sales, Private..."
36,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,"Data Science, Software Engineering"
37,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune,"Data Science, Big Data Analytics, Digital Mark..."
38,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
39,Ankit Sinha,Head Analytics,Suntech Global,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
40,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore,"Software Development, Business Intelligence, B..."
41,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
42,Ashwini,Director Global Delivery,MRP Advisers,MYSORE,"Data Science, Media Marketing, Resource Planni..."
43,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
44,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
45,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Software Development, Core Java, Unit Testing,..."
46,Amir Chowdhury,Managing Partner,Granular.ai,-,"Machine Learning, Data Science, Product Manage..."
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,Noida,"consulting, Education Counseling, Educational ..."
48,Sunny Sharma,Managing Director - HR,Western Service Providers,Mumbai,"Software Professionals, Engineering, Technical..."
49,Sagar Lama,Company HR Manager,AdView,Bengaluru / Bangalore,"Full Stack Developers, Product Manager, Data S..."

In [99]:
driver.close()

Question 8

In [101]:

# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [102]:
Bname=[]
Aname=[]
Vs=[]
Publisher=[]
Genre=[]

In [103]:
for i in range(1,101):
    Bname.append(driver.find_element_by_xpath(f"//tbody/tr[{i}]/td[2]").text)
    Aname.append(driver.find_element_by_xpath(f"//tbody/tr[{i}]/td[3]").text)
    Vs.append(driver.find_element_by_xpath(f"//tbody/tr[{i}]/td[4]").text)
    Publisher.append(driver.find_element_by_xpath(f"//tbody/tr[{i}]/td[5]").text)
    Genre.append(driver.find_element_by_xpath(f"//tbody/tr[{i}]/td[6]").text)

In [104]:

d8 = pd.DataFrame({'Book name':Bname,
                  'Author name':Aname,
                  'Volumes sold':Vs,
                  'Publisher':Publisher,
                  'Genre':Genre})
d8

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [105]:
driver.close()

Question 9

In [108]:
# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("https://www.imdb.com/list/ls095964455/")

In [109]:

Name=[]
Ys=[]
Genre=[]
Rt=[]
Ratings= []
Votes=[]

In [110]:
name = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in name:
    Name.append(i.text)
len(Name)

100

In [111]:

ys = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
for i in ys:
    Ys.append(i.text)
len(Ys)

100

In [112]:
genre = driver.find_elements_by_xpath("//span[@class='genre']")
for i in genre:
    Genre.append(i.text)
len(Genre)

100

In [113]:
rt = driver.find_elements_by_xpath("//span[@class='runtime']")
for i in rt:
    Rt.append(i.text)
len(Rt)

100

In [114]:
rating = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
for i in rating:
    Ratings.append(i.text)
len(Ratings)

100

In [115]:
votes = driver.find_elements_by_xpath("//span[@name='nv']")
for i in votes:
    Votes.append(i.text)
len(Votes)

100

In [116]:
d9 = pd.DataFrame({'Name':Name,
                  'Year span':Ys,
                  'Genre':Genre,
                  'Runtime':Rt,
                  'Rating':Ratings,
                  'Votes':Votes})
d9

,Name,Year span,Genre,Runtime,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,825,442"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"865,452"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"875,270"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,969"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"224,366"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,602"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,117"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"168,083"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,924"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,785"

In [117]:
driver.close()

Question 10

In [118]:
# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("https://archive.ics.uci.edu/")

In [119]:
ad= driver.find_elements_by_xpath("//span[@class='whitetext']/a")
url=[]
for i in ad:
    url.append(i.get_attribute('href'))
url

['https://archive.ics.uci.edu/ml/about.html',
 'https://archive.ics.uci.edu/ml/citation_policy.html',
 'https://archive.ics.uci.edu/ml/donation_policy.html',
 'https://archive.ics.uci.edu/ml/contact.html',
 'https://archive.ics.uci.edu/ml/datasets.php']

In [120]:
driver.get(url[4])

In [121]:

Name=[]
Type=[]
Task=[]
Atype=[]
Noi=[]
Noa=[]
Year=[]

In [122]:
for i in range(2,587):
    Name.append(driver.find_element_by_xpath(f"//table[@border='1']/tbody/tr[{i}]/td[1]").text)
    Type.append(driver.find_element_by_xpath(f"//table[@border='1']/tbody/tr[{i}]/td[2]").text)
    Task.append(driver.find_element_by_xpath(f"//table[@border='1']/tbody/tr[{i}]/td[3]").text)
    Atype.append(driver.find_element_by_xpath(f"//table[@border='1']/tbody/tr[{i}]/td[4]").text)
    Noi.append(driver.find_element_by_xpath(f"//table[@border='1']/tbody/tr[{i}]/td[5]").text)
    Noa.append(driver.find_element_by_xpath(f"//table[@border='1']/tbody/tr[{i}]/td[6]").text)
    Year.append(driver.find_element_by_xpath(f"//table[@border='1']/tbody/tr[{i}]/td[7]").text)

In [123]:
d10 = pd.DataFrame({'Dataset name':Name,
                   'Dataset type':Type,
                   'Task':Task,
                   'Attribute type':Atype,
                   'Number of instances':Noi,
                   'Number of Attributes':Noa,
                   'Year':Year})
d10

,Dataset name,Dataset type,Task,Attribute type,Number of instances,Number of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
580,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,,26737,4,2020
581,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020

In [124]:
driver.close()